html {
  font-size: 20px;
}

ul, li {
  list-style: none;
}

li {
  padding: 10px 0 5px 0;
}

img {
  display: inline-block;
  max-height: 300px;
  max-width: 300px;
}

.episodes {
  display: none;
}

.episode-info {
  display: none;
}

.episode-notes {
  display: none;
}

.episode-notes, .episode-notes > li {
  list-style: decimal;
}

.episode-notes > li:nth-child(2n+0) {
  background: #dddddd;
}

.character-roles {
  display: none;
}

.character-roles > li {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
}

.episode-quote-roles {
  display: none;
}

.episode-quote-roles > li:nth-child(2n+0) {
  background: #dddddd;
}
