<div id="seasons">
  <ul>
    <% seasons.forEach(function (season) { %>

      <li id="season-<%= season.id %>">
        <a class="season" href="#">
          Season <%= season.number %>
        </a>

        <ul id="season-<%= season.id %>-episodes" class="episodes">
          <% episodes.forEach(function (episode, idx) { %>
            <% if (episode.season_id === season.id) { %>

              <li id="episode-<%= episode.id %>">
                <a class="episode" href="#">
                  Episode <%= idx + 1 %>
                </a>
                (number <%= episode.number %> of whole series)

                <ul id="episode-<%= episode.id %>-info" class="episode-info">
                  <li id="episode-<%= episode.id %>-title" class="episode-title">
                    Title: "<%= episode.title %>"
                  </li>

                  <li id="episode-<%= episode.id %>-broadcast-date" class="episode-broadcast-date">
                    Broadcast Date: <%= episode.broadcast_date %>
                  </li>

                  <% if (episode.note_ids) { %>
                    <li id="episode-<%= episode.id %>-notes">
                      <a class="episode-note" href="#">
                        Notes
                      </a>

                      <ul id="episode-<%= episode.id %>-notes" class="episode-notes">
                        <% notes.forEach(function (note) { %>
                          <% if (note.episode_id === episode.id) { %>

                            <li>
                              <%= note.text %>
                            </li>

                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
                  <% } %>

                  <% if (episode.regular_char_ids) { %>
                    <li id="episode-<%= episode.id %>-regular-characters">
                      <a class="regular-characters" href="#">
                        Regular Characters
                      </a>

                      <ul class="regular-character-roles character-roles">
                        <% roles.forEach(function (role) { %>
                          <% if (role.episode_id === episode.id && episode.regular_char_ids.indexOf(role.character_id) > -1) { %>
                            <% var character = characters[role.character_id] %>
                            <% var person = people[role.person_id] %>

                            <li>
                              <div class="role-info">
                                "<%= character.name %>" played by <%= person.name %>
                              </div>

                              <% if (role.img_urls) { %>
                                <div class="role-imgs">
                                  <% role.img_urls.forEach(function (img_url) { %>
                                    <img src="<%= img_url %>" alt="<%= character.name %>"/>
                                  <% }) %>
                                </div>
                              <% } %>
                            </li>

                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
                  <% } %>

                  <% if (episode.recurring_char_ids) { %>
                    <li id="episode-<%= episode.id %>-recurring-characters">
                      <a class="recurring-characters" href="#">
                        Recurring Characters
                      </a>

                      <ul class="recurring-character-roles character-roles">
                        <% roles.forEach(function (role) { %>
                          <% if (role.episode_id === episode.id && episode.recurring_char_ids.indexOf(role.character_id) > -1) { %>
                            <% var character = characters[role.character_id] %>
                            <% var person = people[role.person_id] %>

                            <li>
                              <div class="role-info">
                                "<%= character.name %>" played by <%= person.name %>
                              </div>

                              <% if (role.img_urls) { %>
                                <div class="role-imgs">
                                  <% role.img_urls.forEach(function (img_url) { %>
                                    <img src="<%= img_url %>" alt="<%= character.name %>"/>
                                  <% }) %>
                                </div>
                              <% } %>
                            </li>

                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
                  <% } %>

                  <% if (episode.guest_char_ids) { %>
                    <li id="episode-<%= episode.id %>-guest-characters">
                      <a class="guest-characters" href="#">
                        Guest Characters
                      </a>

                      <ul class="guest-character-roles character-roles">
                        <% roles.forEach(function (role) { %>
                          <% if (role.episode_id === episode.id && episode.guest_char_ids.indexOf(role.character_id) > -1) { %>
                            <% var character = characters[role.character_id] %>
                            <% var person = people[role.person_id] %>

                            <li>
                              <div class="role-info">
                                "<%= character.name %>" played by <%= person.name %>
                              </div>

                              <% if (role.img_urls) { %>
                                <div class="role-imgs">
                                  <% role.img_urls.forEach(function (img_url) { %>
                                    <img src="<%= img_url %>" alt="<%= character.name %>"/>
                                  <% }) %>
                                </div>
                              <% } %>
                            </li>

                          <% } %>
                        <% }) %>
                      </ul>
                    </li>
                  <% } %>

                  <% if (episode.quote_ids) { %>
                    <li id="episode-<%= episode.id %>-quotes">
                      <a class="episode-quotes" href="#">
                        Quotes
                      </a>

                      <ul class="episode-quote-roles">
                        <% episode.quote_ids.forEach(function (quote_id) { %>
                          <% var quote = quotes[quote_id] %>
                          <% var role = roles[quote.role_id] %>
                          <% var character = characters[role.character_id] %>

                          <li>
                            "<%= quote.text %>"
                            <div>
                              - <%= character.name %>
                            </div>
                          </li>

                        <% }) %>
                      </ul>
                    </li>
                  <% } %>
                </ul>
              </li>

            <% } %>
          <% }) %>
        </ul>
      </li>

    <% }) %>
  </ul>

</div>
